body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-height: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    font-family: inherit;
    cursor: pointer;
}
.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
 